@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --header-background-hash: #4196b3;
  }
}

body {
  color: "white";
  background: #2d3250;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.markdown-preview {
  background-color: #2d3250;
  padding: 20px;
  border-radius: 8px;
  color: white;
}

.markdown-preview .code-line {
  color: rgb(36, 146, 219);
}

/* global.css veya Tailwind config dosyasına ekleyin */
.prose {
  max-width: 100%;
}

.prose h1, .prose h2, .prose h3, .prose h4 {
  color: #ffffff;
}

.prose pre, .prose code {
  background-color: #2d2d2d;
  color: #ffffff;
  padding: 1rem;
  border-radius: 0.5rem;
  overflow-x: auto;
}


